<?xml version="1.0"?>
<config	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <default>
        <movie>
            <moviepage>
                <text>I’m a text field</text>
                <yesorno>1</yesorno>
                <selection>1</selection>
            </moviepage>
        </movie>
    </default>
</config>